.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.white-block {
  position: absolute;
  height: 40px;
  width: 60%;
  background-color: #fff;
}
.white-block-left {
  bottom: 0;
  left: -50px;
  -webkit-transform: skew(45deg);
          transform: skew(45deg);
}
.white-block-right {
  top: 0;
  right: -50px;
  -webkit-transform: skew(45deg);
          transform: skew(45deg);
}

.btn-special-animation {
  position: relative;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  overflow: hidden;
  z-index: 0;
}
.btn-special-animation::before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  z-index: -1;
}
.btn-special-animation:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.section-heading {
  position: relative;
  margin-bottom: 2em;
  font-size: 3rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  color: #2e2e2e;
  letter-spacing: 2px;
}

.section-padding {
  padding: 6em 2em;
}

@media (min-width: 768px) {
  .section-heading {
    font-size: 3.6rem;
  }
  .section-padding {
    padding: 8em 2em;
  }
}
@media (min-width: 992px) {
  .section-heading {
    font-size: 4.8rem;
  }
  .section-padding {
    padding: 10em 2em;
  }
}
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
}

.burger-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 1em;
  background: none;
  border: 1px solid transparent;
  cursor: pointer;
  z-index: 1000;
}
.burger-btn:focus {
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
}
.burger-btn:hover .burger-btn__bars::after,
.burger-btn:hover .burger-btn__bars::before {
  width: 100%;
}
.burger-btn__box {
  position: relative;
  width: 40px;
  height: 30px;
}
.burger-btn__bars, .burger-btn__bars::after, .burger-btn__bars::before {
  position: absolute;
  right: 0;
  height: 3px;
  content: "";
  background-color: #fff;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}
.burger-btn__bars {
  width: 100%;
}
.burger-btn__bars::after {
  top: 13px;
  width: 60%;
}
.burger-btn__bars::before {
  top: 27px;
  width: 30%;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.nav {
  position: fixed;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100%;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
  transition: 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
  background-image: linear-gradient(45deg, rgb(20, 105, 241), rgb(42, 10, 184));
  z-index: 100;
}
.nav--active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.nav__item {
  position: relative;
  display: block;
  margin: 0.5em 0;
  padding: 0.5em 2em;
  font-size: 2.8rem;
  color: #fff;
  text-decoration: none;
}
.nav__item::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  background-color: #fff;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  content: "";
}
.nav__item:hover::before {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

@-webkit-keyframes navItemsAnimation {
  from {
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes navItemsAnimation {
  from {
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
.nav-items-animation {
  -webkit-animation: navItemsAnimation 1s both;
          animation: navItemsAnimation 1s both;
}

.black-bars-color,
.black-bars-color::after,
.black-bars-color::before {
  background-color: #2e2e2e;
}

.header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10rem 5rem;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 90vh;
  text-align: center;
  color: #fff;
  background-image: url("../img/tlo.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-position: center;
}
.header__heading {
  font-family: "Montserrat", sans-serif;
  font-size: 4.8rem;
  font-weight: 300;
}
.header__text {
  font-size: 2.4rem;
}
.header__btn {
  margin-top: 2em;
  padding: 0.8em 1.6em;
  font-size: 1.4rem;
  background: #fff;
  border: none;
  border-radius: 8px;
  color: #2e2e2e;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}
.header__btn::before {
  background-color: #77a3c7;
}

.about__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2em 0;
}
.about__img {
  width: 100%;
  margin-bottom: 1em;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.about__title {
  text-align: center;
  font-size: 2.2rem;
  margin-bottom: 0.5em;
}
.about__text {
  font-size: 1.8rem;
}

.offers {
  position: relative;
  background-image: url("../img/tlo.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow: hidden;
}
.offers .section-heading {
  color: #fff;
}
.offers__option {
  border-radius: 10px;
  margin: 1em 0;
  -webkit-box-shadow: 5px 5px 10px rgba(46, 46, 46, 0.18);
          box-shadow: 5px 5px 10px rgba(46, 46, 46, 0.18);
  background-color: #fff;
  overflow: hidden;
}
.offers__option-img {
  width: 100%;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.offers__option-img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.offers__option-info {
  padding: 2em;
  background-color: #fff;
  z-index: 10;
}
.offers__option-heading {
  margin-bottom: 0.5em;
  font-size: 2.4rem;
  font-weight: 700;
  text-align: center;
}
.offers__option-text {
  margin-bottom: 0.5em;
  font-size: 1.6rem;
  text-align: center;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.gallery__img {
  position: relative;
  margin: 3em 2em 1rem;
  padding: 1em;
  border-radius: 8px;
  -webkit-box-shadow: 3px 3px 10px rgba(46, 46, 46, 0.18);
          box-shadow: 3px 3px 10px rgba(46, 46, 46, 0.18);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.gallery__img img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.gallery__img:hover {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}
.gallery__box {
  height: 100%;
}
.gallery__box__box-quote {
  margin-bottom: 1em;
  font-size: 2rem;
}
.gallery__box__box-text {
  margin-bottom: 1em;
  font-size: 1.4rem;
  color: #2e2e2e;
}
.gallery__btn {
  margin-top: 2em;
  padding: 0.8em 1.6em;
  font-size: 1.4rem;
  background: #2e2e2e;
  border: none;
  border-radius: 8px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}
.gallery__btn::before {
  background-color: #77a3c7;
}

.contact {
  position: relative;
  background-color: #77a3c7;
  overflow: hidden;
}
.contact__box-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 60%;
  padding: 2rem;
}
.contact__box-social iframe {
  padding-bottom: 2rem;
  width: 95%;
  height: 50rem;
}
.contact__box-link {
  padding: 0 0.3em;
  font-size: 3.6rem;
  color: #2e2e2e;
  text-decoration: none;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.contact__box-link:first-child {
  padding-left: 0;
}
.contact__box-link:hover {
  color: #fff;
}
.contact .white-block-left {
  background-color: #2e2e2e;
}
.contact__list {
  text-align: center;
  font-size: 2rem;
  padding: 2rem 0;
  list-style: none;
}
.contact__item {
  padding: 1rem;
}
.contact__item span {
  font-weight: bold;
}

.footer {
  color: #fff;
  background-color: #2e2e2e;
}
.footer .wrapper {
  padding: 6em 2em 2em;
}
.footer__box {
  font-size: 1.4rem;
}
.footer__box-desktop {
  display: none;
}
.footer__box-title {
  margin-bottom: 1em;
  font-size: 3rem;
  text-transform: uppercase;
}
.footer__box-social {
  margin: 2em 0 1em;
}
.footer__box-link {
  padding: 0 0.3em;
  font-size: 2.6rem;
  color: #fff;
  text-decoration: none;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.footer__box-link:first-child {
  padding-left: 0;
}
.footer__box-link:hover {
  color: #77a3c7;
}
.footer__bottom-text {
  padding: 2em;
  text-align: center;
}

@media (min-width: 576px) {
  .about__box {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .about__box-text {
    width: 55%;
  }
  .about__box-text--right {
    text-align: right;
  }
  .about__box-img {
    width: 40%;
  }
  .about__box-img--right {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .about__img {
    margin-bottom: 0;
    max-height: 300px;
  }
  .offers__option {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 2em 0;
    width: 100%;
  }
  .offers__option-img {
    width: 50%;
    height: auto;
  }
  .offers__option-img--right {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .offers__option-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .offers__option-heading {
    margin-bottom: 0.5em;
    font-size: 3.6rem;
  }
  .offers__option-btn {
    padding: 1em;
  }
}
@media (min-width: 768px) {
  .white-block {
    height: 50px;
    width: 45%;
  }
  .header__heading {
    font-size: 6.6rem;
  }
  .header__text {
    font-size: 2.2rem;
  }
  .header__btn {
    font-size: 1.6rem;
  }
  .about__text {
    font-size: 1.8rem;
  }
  .gallery.section-padding {
    padding: 6em 0;
  }
}
@media (min-width: 992px) {
  .burger-btn {
    top: 50px;
    right: 50px;
  }
  .header__heading {
    font-size: 10rem;
  }
  .nav__item {
    font-size: 4.8rem;
  }
  .about__box {
    margin: 5em 0;
  }
  .about__box-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-bottom: 2.5em;
  }
  .about__title {
    font-size: 3.6rem;
  }
  .about__text {
    font-size: 2.4rem;
  }
  .offers__option-img {
    -o-object-fit: cover;
       object-fit: cover;
    height: 300px;
  }
  .offers__option-text {
    font-size: 2.5rem;
  }
  .gallery__box-img {
    width: 50%;
  }
  .gallery__box-img img {
    width: 100%;
    height: 100%;
  }
}/*# sourceMappingURL=main.css.map */