$main-color: #2e2e2e;
$pure-white: #fff;
$light-white: #77a3c7;
$dark: #2e2e2e;


$black-gradient: linear-gradient(45deg, rgba(79, 84, 95, 0.75), rgba(0, 0, 0, 0.75));
$blue-gradient-solid: linear-gradient(45deg, rgb(20, 105, 241), rgb(42, 10, 184));


